.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home button{
    outline: none;
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.home button:hover{
    background-color: #cecece;
}